<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}


    {{!-- Hero section start --}}
    {{>heroSection}}
    {{!-- Hero section ends--}}


    {{!-- about section start --}}
    {{>about}}
    {{!-- about section ends--}}


    {{!-- service section start --}}
    {{>service}}
    {{!-- service section ends--}}

    {{!-- map start --}}
    {{>map}}
    {{!-- map ends--}}

    {{!-- contact section start --}}
    {{>contact}}
    {{!-- contact section ends--}}

    <script src="../jq/jquery.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>

</html>